.sighin
  %header.signin-header
    .signin-header__title
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3761641567", alt: "mercari"), root_path
  .registration_main
    .registration_main_container
      %p.registration_main__title
        新規会員登録
      .registration_main__box
      -# gemを入れてから
        -# = link_to new_profile_path, class: "registration_main__box__mail" do
          %button{type: "submit", class: "registration_main__box__mailbutton"}
            .btn-text
              %i.fa.fa-envelope
              %p メールアドレスで登録
        %br
        -# = link_to user_facebook_omniauth_authorize_path, class: "registration_main__fbook" do
          %button{type: "submit", class: "registration_main__box__fbookbutton"}
            = image_tag "profiles/facebook_logo.jpg", class: "registration_main__box__fbookbutton__logo"
            Facebookで登録
        %br
        -# = link_to user_google_oauth2_omniauth_authorize_path, class: "registration_main__box__google" do
          %button{type: "submit", class: "registration_main__box__googlebutton"}
            =image_tag "profiles/Google_logo.jpg", class: "registration_main__box__googlebutton__logo"
            Googleで登録
  %footer.signup-footer
    %nav
      %ul.signup-footer__list.clearfix
        %li
          = link_to('プライバシーポリシー', "https://www.mercari.com/jp/privacy/")
        %li
          = link_to('メルカリ利用規約', "https://www.mercari.com/jp/tos/")
        %li
          = link_to('特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/")
        .signup-footer__list__bottom.clearfix:after
    = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308', alt: 'mercari', height: '65', width: '80', class: 'signup-footer__logo'), "https://www.mercari.com/jp/"
    %p
      %small© 2019 Mercari

