.default-container
  = render "shared/header"
  .nav
  .category-index
    .visible-pc
      .category-index__title
        %h2 ブランド一覧
      = render 'brands/category-nav'
      .initial-index
        - @initials_index.each do |initial|
          ="#{initial[:initial]}|"
      .category-index__box
        .category-index__box__list
          .category-index__box__list__name
            ="#{@category1.category_name}"
          - @initials_index.each do |initial|
            .category-index__box__list__initial-box
              .category-index__box__list__initial-box__title
                ="#{initial[:initial]}"
              .category-index__box__list__initial-box__brand-list
                - @category_brands.each do |category_brand|
                  -if "#{initial[:initial]}" == "#{category_brand[:brand_name]}".slice(0)
                    .category-index__box__list__initial-box__brand-list__name
                      = link_to "#{category_brand[:brand_name]}",brand_brand_group_path(@category1.id,category_brand[:id]), class: "category23-all"
                    