= render "shared/header"
.l-container
  .l-content
    %ul{class: "parts-nav"}
      - @items.each do |item|
        = "#{item.category.name}"
    %section{class: "items-box-container"}
      %h1{class: "items-box-container__head"}
      .items-box-container__content
        %section{class: "items-box"}
          %figure{class: "items-box__photo"}
          .items-box__body
            %h3{class: "items-box__name"}
          






ブランド商品一覧<

="#{@category1.name}<"
="#{@brand.name}<"

- @items.each do |item|
  .content-item-image
    ="#{item.name}"
    ="#{item.explanation}"
    ="#{item.price}"
    - item.images.each do |item_image|
      = image_tag item_image.image.url
    = link_to "商品編集へ",edit_item_path(id: item.id)
    = link_to "商品詳細へ",item_path(id: item.id)