.default-container-brand-groups
  = render "shared/header"
  = render "shared/newItemBtn"
  %main{class: "l-container"}
    .l-content
      %ul{class: "parts-nav"}
        %li
          - @items_category.each do |category|
            = link_to "#{category[:name]}",brand_category3_brand_brand_group_path(@brand, id: "#{category[:id]}"), class: "parts-nav__list"
      %section{class: "items-box-container"}
        %h1{class: "items-box-container__head"}
          = "#{@brand.name}の商品一覧"
        .items-box-container__content
          = render partial: "shared/item_list", collection: @items, as: :item
      .spacial-description
        .spacial-description__title
          %h3{class: "font-white"}
            ="#{@brand.name}"
        .spacial-description__text
          %p
      