= render 'shared/header'
- breadcrumb :users_index
= render "layouts/breadcrumbs"
.default-container-gray
  .maincontainer
    = render 'users/mypage-leftcontent'
    .maincontainer__lightcontent
      .maincontainer__lightcontent__mypagebox
        %p 出品した商品
      = render partial: 'users/listing_content', locals: { items: @current_user_items }
      .maincontainer__lightcontent__mypagebox
        %p 購入した商品
      = render partial: 'users/listing_content', locals: { items: @items }

= render 'shared/footer'

= render 'shared/newItemBtn'