= render 'shared/header'
- breadcrumb :users_like
= render "layouts/breadcrumbs"
.default-container-gray
  .maincontainer
    = render 'users/mypage-leftcontent'
    .listing-lightcontent
      %h2.listing-lightcontent__head
        %p 出品した商品
      %ul.listing-lightcontent__tabs
        = link_to listings_listing_users_path do
          %li
            出品中
        = link_to listings_in_progress_users_path do
          %li
            取引中
        %li.active
          売却済み
      = render partial: 'users/listing_content', locals: { items: @items }