.aco-container
  = render partial: 'shared/login-header'
  .aco-container__main
    .aco-container__main--container
      %h2.aco-container__main--container--head 新規会員登録
      .aco-container__main--box
        .aco-container__main--box--contents
          %br
          = link_to new_user_registration_path ,class: 'btn-default btn-mail' do
            %i.fa.fa-envelope
            メールアドレスで登録
          #facebook-login
            %i.fab.fa-facebook-square
              = link_to "Facebookで登録"
          #google-login
            %i.fab.fa-google
              = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method: :post
  = render partial: 'shared/login-footer'