.aco-container
  = render partial: 'shared/login-header'
  .aco-container__main
    .aco-container__main--container
      %h2.aco-container__main--container--head 新規会員登録
      .aco-container__main--box
        .aco-container__main--box--contents
          %br
          = link_to new_user_registration_path ,class: 'btn-default btn-mail' do
            %i.fa.fa-envelope
            メールアドレスで登録
          %br
          = link_to do
            %button{type: "submit", class: "aco-container__main--box--fbookbutton"}
              Facebookで登録
          %br
          = link_to do
            %button{type: "submit", class: "aco-container__main--box--googlebutton"}
              Googleで登録
  = render partial: 'shared/login-footer'