= render 'shared/header'
- breadcrumb :users_like
= render "layouts/breadcrumbs"
.default-container-gray
  .maincontainer
    = render 'users/mypage-leftcontent'
    .listing-lightcontent
      %h2{class:"listing-lightcontent__head"}
        %p 購入した商品
      %ul{class:"purchase-lightcontent__tabs"}
        %li{class:"active"}
          取引中
        = link_to purchased_users_path do
          %li{class:""}
            過去の取引
      = render partial: 'users/listing_content', locals: { items: @items }