.header
  .header__wrapper
    .header__main
      .header__main--logo
        = link_to root_path do
          = image_tag 'logo/logo.png'
      .header__main__form
        = form_tag(search_items_path, method: :get) do
          .header__main__form__search
            = text_field_tag :key, params[:key], class: '.header__main__form__search--box', placeholder: 'キーワードから探す'
            = submit_tag '', class: '.header__main__form__search--btn', id: "icon__search"
            = label_tag :icon__search do
              .header__main__form__search--icon
                = image_tag 'icon/icon-search 1.png'
    .header__nav
      %ul.header__nav__left
        %li.header__nav__left--category
          = link_to categories_path, class:"header__nav--textBtn" do
            カテゴリー
          = render 'shared/header-category'
        %li.header__nav__left--brand
          = link_to brands_path, class:"header__nav--textBtn" do
            ブランド
          = render 'shared/header-brand'
      %ul.header__nav__right
        - if user_signed_in?
          %li.header__nav__right--usermenu
            = link_to users_path, class:"header__nav--textBtn" do
              マイページ
          %li.header__nav__right--usermenu
            = link_to destroy_user_session_path, class:"header__nav--textBtn", method: :delete do
              ログアウト
        - else
          %li.header__nav__right--usermenu
            = link_to new_user_session_path, class:"header__nav--textBtn" do
              ログイン
          %li.header__nav__right--usermenu
            = link_to new_user_path, class:"header__nav--textBtn" do
              新規会員登録