= link_to item_path(id: item.id), class: "items-box" do
  %figure{class: "items-box__photo"}
  - item.images.each_with_index do |item_image,i|
    -if i == 0
      = image_tag item_image.image.url
  .items-box__body
    %h3{class: "items-box__name"}
      ="#{item.name}"
    .items-box__num
      .items-box__body__num__price
        ="¥#{item.price}"
      .items-box__body__num__like
        %i{class: "far fa-heart"}
        %span 10

-# テスト用の仮リンク
  -# = link_to "#{item.name}",edit_item_path(item.id)
  -# = link_to "削除",item_path(item.id), method: :delete

