= render 'shared/header'

.container
  .container__header
    %h1.list
      = link_to image_tag(src= "logo/logo.png", class: "マイページ"), root_path
%h2<
  = @item.price
  円支払います。

= form_tag(pay_item_purchase_index_path(@item), method: :post)  do
  = submit_tag "確定"

= render 'shared/footer'
