.menu
  - if user_signed_in?
    .menu__list
      .menu__list__btn
        = link_to edit_user_path(current_user) do
          <input type="button" class="btn1" value="登録編集">
    .menu__list
      .menu__list__btn
        = link_to destroy_user_session_path, method: :delete do
          <input type="button" class="btn1" value="ログアウト">
    .link__user
      .link__user__index
        = link_to users_path do
          <input type="button" value="マイページ">

  - else
    .menu__list
      .menu__list__btn
        = link_to new_user_registration_path do
          <input type="button" class="btn1" value="新規登録">
    .menu__list
      .menu__list__btn
        = link_to new_user_session_path do
          <input type="button" class="btn1" value="ログイン">


.link__item
  .link__item__new
    = link_to new_item_path do
      <input type="button" value="出品する">
  -# .link__item__show
  -#   - @items.each do |item|
  -#     = link_to item_path(item.id) do
  -#       <input type="button" value="商品詳細#{item.id}">

.link__brands
  .link__brands__index
    = link_to brands_path do
      <input type="button" value="ブランド一覧">

.link__category1s
  .link__category1s__index
    = link_to category1s_path do
      <input type="button" value="カテゴリー一覧">
