= render "shared/header"

出品画面

= form_for([@item], html: {class: "item-out"}) do |f|

  = f.text_field :item_name, placeholder: "商品名"
  
  = f.collection_select(:category1_id, @category1s, :id, :category1_name, {prompt: "カテゴリー1"})
  -# = f.collection_select(:category2_id, @category2s, :id, :category2_name, {prompt: "カテゴリー2"})
  -# = f.collection_select(:category3_id, @category3s, :id, :category3_name, {prompt: "カテゴリー3"})
  = form_for([@brand], html: {class: "item-out"}) do |f|
    = f.text_field :brand_name, placeholder: "ブランド名"
    -# = f.submit "ブランド名を登録"
    = form_for([@item], html: {class: "item-out"}) do |f|
      -# = f.collection_select(:brand_id, @brands, :id, :brand_name, {prompt: "ブランドを選択"})
      = f.text_area :explanation, placeholder: "紹介文"
      = f.number_field :price, placeholder: "値段"
      = f.select :condition, [["新品、未使用",0], ["未使用に近い", 1], ["目立った傷や汚れなし", 2], ["やや傷や汚れあり", 3], ["傷や汚れあり", 4], ["全体的に状態が悪い", 5]], prompt: "商品の状態"
      = f.select :sent_charge, [["送料込み（出品者負担）",0], ["着払い（購入者負担）", 1]], prompt: "配送料の負担"
      = f.select :shipping_area, [["北海道"], ["青森県"]], prompt: "発送元の地域"
      = f.select :days_to_ship, [["１〜２日で発送",0], ["3〜4日で発送", 1], ["4〜7日で発送", 2]], prompt: "発送までの日数"
    
      = f.submit "出品"



-# .sell-container
-#   .sell-container__header
-#     %h1.list
-#       =link_to top_path do
-#         = icon('')

-#   .sell-main
-#     .sell-main__item-container
-#       .sell-main__item-container__sell-container
-#         .sell-main__item-container__sell-container__inner
-#           %h2.single-head
-#             商品の情報を入力
-#             .sell-main__item-container__sell-container__inner__sell-form
-#               .sell-main__item-container__sell-container__inner__sell-form__upload-box
-#                 .sell-main__item-container__sell-container__inner__sell-form__upload-box__head
-#                   %h3.sell-upload-head
-#                     出品画像
-#                   %P 最大10枚までアップロードできます。
-#                 .sell-main__item-container__sell-container__inner__sell-form__upload-box-image
-#                   file uploar
-#                 .sell-main__item-container__sell-container__inner__sell-form__content
-#                   .sell-main__item-container__sell-container__inner__sell-form__content__form-title
-#                     =f.label :name, "商品名"
-#                     = f.text_field :content, class: 'texterea-default', placeholder: '商品名'
-#                   .sell-main__item-container__sell-container__inner__sell-form__content__form-detail
-#                     =f.label :name, "商品の説明"
-#                     = f.text_field :content, class: 'texterea-default', placeholder: '商品名'
-#                 .sell-main__item-container__sell-container__inner__sell-form__content.cleafix
-#                   %h3.sell-sub-head
-#                     商品の詳細
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box
-#                     %li.header__menu-box--left__category
-#                     .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group
-#                       = f.label :name, "カテゴリー"
-#                       = link_to category_index_path do
-#                         .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group__select-wrap
-#                           = fa_icon "list-ul", class: 'header__menu-box--left__icon'
-#                             カテゴリーから探す
-#                     .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group
-#                       = f.label :name, "商品の状態"
-#                       = link_to category_index_path do
-#                         .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group__select-wrap
-#                           = fa_icon "list-ul", class: 'header__menu-box--left__icon'                   
-#                 .sell-main__item-container__sell-container__inner__sell-form__content.cleafix
-#                   %h3.sell-sub-head
-#                     配送について
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box
-#                     .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group
-#                       = f.label :name, "商品の状態"
-#                       = link_to category_index_path do
-#                         .sell-main__item-container_sell-container__inner__sell-form__content.cleafix__form-box__from-group__select-wrap
-#                           = fa_icon "list-ul", class: 'header__menu-box--left__icon' 

-#                 .sell-main__item-container__sell-container__inner__sell-form__content.cleafix
-#                   %h3.sell-sub-head
-#                     販売価格
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box
-#                     %ul.sell-price
-#                     /= f.label :name, "価格" class, l-left
-#                     .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__sell-price-input
-#                       ¥
-#                       = f.text_field :content, class: 'input-default', placeholder: '例)300'
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix
-#                     .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix__l-left
-#                       販売手数料(10%)
-#                     .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix__l-right
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix.bold
-#                     .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix.bold__l-left
-#                       販売利益
-#                     .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__form-box__cleafix.bold__l-right
                    
-#                 .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__sell-btn-box
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__sell-btn-box__red-btn
-#                     = link to "registrations/new", type = "button"
-#                       出品する
-#                   .sell-main__item-container__sell-container__inner__sell-form__content.cleafix__sell-btn-box__gray-btn
-#                     /= link to :back do, type = "button"
                
-#   .sell-footer
-#     .sell-footer__logo
-#       =link_to top_path do
-#         = icon('')