.container
= form_for([@item], html: {class: "item-out"}) do |f|
  .container__header
    %h1.list
      = link_to image_tag(src= "logo/logo.png", class: "マイページ"), users_path


  .container__sell-main
    .container__sell-main__item-container
      .container__sell-main__item-container__sell-container
        %h3.sell-upload-head
          %P 出品画像
        .container__sell-main__item-container__sell-container__inner
          .container__sell-main__item-container__sell-container__inner__sell-form
      .container__sell-main__item-container__sell-content
        %h3.sell-form-title
          %P 商品名
          = f.text_field :name, placeholder: "商品名"
        .container__sell-main__item-container__sell-content__form-group
        %h3.sell-form-pr
          %P 商品説明
          = f.text_area :explanation, placeholder: "紹介文"
        .container__sell-main__item-container__sell-content__form-pr
      .container__sell-main__item-container__cleafix
        %h3.sell-sub-head
          %P 商品の詳細
        .container__sell-main__item-container__cleafix__form-box
          .container__sell-main__item-container__cleafix__form-box__form-group
            %P カテゴリー
            .container__sell-main__item-container__cleafix__form-box__form-group__select
              = f.collection_select(:category_id, @category1s, :id, :name, {prompt: "カテゴリー1"})
          .container__sell-main__item-container__cleafix__form-box__form-group
            %P サイズ 
            .container__sell-main__item-container__cleafix__form-box__form-group__select
          .container__sell-main__item-container__cleafix__form-box__form-group
          = form_for([@brand], html: {class: "item-out"}) do |f|
            %P ブランド 
            .container__sell-main__item-container__cleafix__form-box__form-group__select
              = f.text_field :name, placeholder: "ブランド名"
          .container__sell-main__item-container__cleafix__form-box__form-group
          = form_for([@item], html: {class: "item-out"}) do |f|
            %P 商品の状態
            .container__sell-main__item-container__cleafix__form-box__form-group__select
              = f.select :condition, [["新品、未使用",0], ["未使用に近い", 1], ["目立った傷や汚れなし", 2], ["やや傷や汚れあり", 3], ["傷や汚れあり", 4], ["全体的に状態が悪い", 5]], prompt: "商品の状態"
          .container__sell-main__item-container__cleafix
            %h3.sell-sub-head
              %P 配送について
            .container__sell-main__item-container__cleafix__form-box
              .container__sell-main__item-container__cleafix__form-box__form-group
                %P 配送料の負担
                .container__sell-main__item-container__cleafix__form-box__form-group__select
                  = f.select :sent_charge, [["送料込み（出品者負担）",0], ["着払い（購入者負担）", 1]], prompt: "配送料の負担"
              .container__sell-main__item-container__cleafix__form-box__form-group
                %P 発送元の地域
                .container__sell-main__item-container__cleafix__form-box__form-group__select
                  = f.select :shipping_area, [["北海道"], ["青森県"]], prompt: "発送元の地域"
              .container__sell-main__item-container__cleafix__form-box__form-group
                %P 発送までの日数
                .container__sell-main__item-container__cleafix__form-box__form-group__select
                  = f.select :days_to_ship, [["１〜２日で発送",0], ["3〜4日で発送", 1], ["4〜7日で発送", 2]], prompt: "発送までの日数"
          .container__sell-main__item-container__cleafix
            %h3.sell-sub-head
              %P 販売価格
            .container__sell-main__item-container__cleafix__form-box
              .container__sell-main__item-container__cleafix__form-box__form-group
                %P 販売価格
                = f.number_field :price, placeholder: "価格"
                
          .container__sell-main__item-container__sell-btn-box
            .container__sell-main__item-container__sell-btn-box__red-btn
              = f.submit "出品する"
            .container__sell-main__item-container__sell-btn-box__gray-btn
              = link_to "マイページ",users_path ,class: 'btn btn-default'
      .container__footer



-# #以下仮のフォーム
= render 'items/exhibition'