.default-container
  .header
  .nav
  .category-index
    .visible-pc
      .gray
        %h2 カテゴリー一覧
      .category-list-nav
        - @category1s.each do |category1|
          .category-list-nav__list
            ="#{category1.category1_name}"
      .category-index__box
        - @category1s.each do |category1|
          .category-index__box__list
            .category-index__box__list__name
              ="#{category1.category1_name}"
            .category-index__box__list__inner-box
              = link_to category1_path(category1.id) do
                %p{class:"category1-all"} すべて
              - @category2s.where(category1_id: category1.id).each do |category2|
                .category-index__box__list__inner-box__name
                  ="#{category2.category2_name}"
                .category-index__box__list__inner-box__sub-box
                  .category-index__box__list__inner-box__sub-box__name
                    = link_to "すべて",category1_category2_path(category1.id, category2.id), class: "category23-all"
                  - @category3s.where(category2_id: category2.id).each do |category3|
                    .category-index__box__list__inner-box__sub-box__name
                      = link_to "#{category3.category3_name}",category1_category2_category3_path(category1.id, category2.id, category3.id), class: "category23-all"
                      
