.default-container
  = render "shared/header"
  - breadcrumb :categories_index
  = render "layouts/breadcrumbs"
  = render "shared/newItemBtn"
  .category-index
    .visible-pc
      .category-index__title
        %h2 カテゴリー一覧
      .category-list-nav
        - @categories_root.each do |category_root|
          .category-list-nav__list
            %p{class: "category_root-name"} #{category_root.name}
      .category-index__box
        - @categories_root.each do |category_root|
          .category-index__box__list
            .category-index__box__list__name
              ="#{category_root.name}"
            .category-index__box__list__inner-box
              = link_to category_path(category_root.id) do
                %p{class:"category_root-all"} すべて
              - @categories.where(ancestry: category_root.id).each do |category_parent|
                .category-index__box__list__inner-box__name
                  ="#{category_parent.name}"
                .category-index__box__list__inner-box__sub-box
                  .category-index__box__list__inner-box__sub-box__name
                    = link_to "すべて",category_path(category_parent.id), class: "category23-all"
                  - category_parent.children.each do |category|
                    .category-index__box__list__inner-box__sub-box__name
                      = link_to "#{category.name}",category_path(category.id), class: "category23-all"
